<mat-toolbar *ngIf="hideComponents" class="header mat-elevation-z4">
  <div>
    <span class="title-group">
      <i class="material-icons">
        {{ icon }}
      </i>
      <a routerLink="{{ routeUrl }}">
        {{ title }}
      </a>
    </span>
  </div>
  <div>
    <div class="user-info">
      <img src="" alt="" />
      <div>
        <span class="user-name">{{ loggedUser }}</span> |
        <span class="btn-leave" (click)="logOut()">Sair</span>
      </div>
    </div>
  </div>
</mat-toolbar>
