.header {
  display: flex;
  align-items: center;

  & a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }

  & .title-group {
    padding-left: 25px;

    & i {
      padding-right: 5px;
    }
  }
}

.logo {
  max-height: 32px;
}
