<div class="main">
  <mat-sidenav
    *ngIf="hideComponents"
    mode="side"
    class="sidenav"
    fixedInViewPort="true"
    fixedTopGap="66"
    opened
  >
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons">
          home
        </i>
        Início
      </a>
      <a mat-list-item routerLink="/products">
        <i class="material-icons">
          storefront
        </i>
        Transações
      </a>
      <a mat-list-item routerLink="/category">
        <i class="material-icons">
          category
        </i>
        Categoria
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
