<div class="container">
  <mat-card class="mat-elevevation-z3">
    <mat-card-title>Alterar Produto</mat-card-title>
    <form action="" method="">
      <mat-form-field>
        <input
          matInput
          placeholder="Nome"
          [(ngModel)]="product.name"
          name="name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Price (R$)"
          [(ngModel)]="product.price"
          name="price"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Descrição"
          [(ngModel)]="product.description"
          name="description"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Escolha a data</mat-label>
        <input
          matInput
          name="createdAt"
          [matDatepicker]="picker"
          [(ngModel)]="product.createdAt"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>

    <button class="btn" mat-raised-button (click)="updateProduct()">
      Atualizar
    </button>
    <button class="btn" mat-raised-button (click)="cancel()" color="primary">
      Cancelar
    </button>
  </mat-card>
</div>
