@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

.container {
  width: 76%;
  margin: 0 auto;
  background-color: #fff;

  .mat-form-field {
    width: 600px;
    input {
      border: yellow;
    }
  }

  form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    font-size: 15px;
  }
}
