.main {
  display: flex;

  .sidenav {
    width: 200px;
    background-color: #333333;

    & i {
      padding-right: 10px;
    }
  }

  .container {
    background-color: #424242;
    width: 100vw;
    height: 100vh;
  }
}
