.main {
  display: flex;
  background-color: #424242;

  .sidenav {
    width: 200px;
    background-color: #424242;

    .mat-nav-list .mat-list-item {
      cursor: pointer;
      outline: none;
      color: #fff;
    }

    & i {
      padding-right: 10px;
    }
  }

  .container {
    background-color: #424242;
    width: 100vw;
    height: 100vh;
  }
}
