<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Preço">
    <th mat-header-cell *matHeaderCellDef>Preço</th>
    <td mat-cell *matCellDef="let element">
      {{ element.price | currency: "BRL" }}
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Descrição">
    <th mat-header-cell *matHeaderCellDef>Descrição</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>

  <ng-container matColumnDef="Ações">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element">
      <div class="actions">
        <a
          mat-list-item
          routerLink="/products/update/{{ element.id }}"
          color="primary"
        >
          <i class="material-icons edit" aria-hidden="true">
            edit
          </i>
        </a>
        <a
          mat-list-item
          routerLink="/products/delete/{{ element.id }}"
          (click)="openDialog()"
          color="primary"
        >
          <i class="material-icons delete" aria-hidden="true">
            delete
          </i>
        </a>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
></mat-paginator>
