.home {
  height: 100vh;
  background-color: #e5e5e5;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.2;

  .top-header {
    display: flex;
    align-items: center;
    flex-basis: auto;

    i {
      color: #969cb3;
    }
  }

  .card-header {
    display: flex;
    justify-content: space-between;

    .income-icon {
      width: 30px;
      height: 30px;
    }
  }

  .title {
    font-size: 20px;
    color: #969cb3;
    margin: 0 0 0 5px;
  }

  .information {
    display: flex;
    margin: 30px;
    justify-content: center;

    #total {
      background-color: #12a454 !important;
      color: #fff;

      h2 {
        color: #fff;
      }
    }
    .content {
      background-color: #fff;
      color: #363f5f;
      width: 225px;
      height: 80px;
      border-radius: 5px;

      h2 {
        font-size: 30px;
      }
    }

    .mat-card {
      margin: 0 10px;
    }

    .card-info {
      font-size: 16px;
      color: #363f5f;
    }
  }
}

.subtitle {
  font-size: 1.1rem;
}
.mat-card {
  border-radius: 0;
}
